@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
section {
  display: flex;
  margin: 20px;
}
.king {
  justify-content: center;
  align-items: center;
}
.king__title {
  font-size: 100px;
  color: #a00358;
  text-transform: uppercase;
  text-shadow: 3px 2px 0px #f7d8e1, 5px 5px 10px #f6a9bf, -10px 5px 15px #fafb8e,
    -5px -5px 25px #bb03f7;
}
.hakuna {
  font-family: 'Amatic SC', sans-serif;
  font-style: italic;
}
.hakuna__text {
  align-self: flex-end;
}
.hakuna__poem p {
  border-right: 2px solid;
  border-bottom: 2px solid;
  text-align: center;
  line-height: 2;
  font-size: 20pt;
  font-weight: 700;
  color: #9a5217;
}
.hakuna__text p {
  border-left: 2px solid;
  border-top: 2px solid;
  word-spacing: 10px;
  font-size: 18pt;
  color: #f3cf7b;
  font-weight: 700;
  text-shadow: 1px 1px 0px #5b483d;
}
.hakuna__text p,
.hakuna__poem p {
  margin: 20px;
  padding: 20px;
}
.greeting {
  margin-bottom: -120px;
}
.greeting__text {
  text-indent: 12px;
  quotes: '«' '»';
  font-style: italic;
  color: #a00358;
}
.child-lion__text {
  font-family: 'Underdog', system-ui;
  font-weight: 700;
  font-size: 50pt;
  color: #0411b6;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 7), 0px -3px 1px #5b483d;
}
